@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    height: 100vh;
    background-image:url(https://image.freepik.com/free-vector/gold-vintage-greeting-card-black-background_1159-6201.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/*.filter{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
}*/
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 25px;
    width: 300px;

     background-color: rgba(0,0,0,.7);
    box-shadow: 0 0 10px rgba(255,255,255,.3);
}
.container h1{
    text-align: left;
    color: #fafafa;
    margin-bottom: 25px;
    text-transform: uppercase;
    border-bottom: 4px solid #2979ff;
   

}

.container form input{
    width: calc(100% - 20px);
    padding: 8px 10px;
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #2979ff;
    color: #fff;
    font-size: 20px;
}
.container label{
    text-align: left;
    color: #90caf9;
}
.container form input::placeholder{
    color: #e2e2e2;
}
.container form button{
    width: 100%;
    padding: 5px 0;
    border: none;
    background-color:#2979ff;
    font-size: 18px;
    color: #fafafa;
}
@import url(https://fonts.googleapis.com/css?family=Advent+Pro:100);
html { 
  background:  url(https://media.giphy.com/media/3o7qDNfxtNRtLVv8qs/giphy.gif) no-repeat center center fixed; 
  background-size: cover;
}
h1{
  font-family: 'Advent Pro', sans-serif;
  font-size: 3em;
  margin: .2em .5em;
  color: rgba(0,0,0, 0.3);
}
body {
    height: 100%;
}
